<h2>Adatlap</h2>
<div class="container">
  <form action="/profile" method="POST">
    <div class="form-group">
      <label for="neptun">Neptun kód</label>
      <input type="text" class="form-control" id="neptun" name="neptun" value="<%= user.neptun %>" readonly>
    </div>
    <div class="form-group">
      <label for="name">Név</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>">
    </div>
    <div class="form-group">
      <label for="email">Email cím</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>">
    </div>
    <div class="form-group">
      <label for="faculty">Kar</label>
      <select class="form-control" id="faculty" name="faculty">
        <option value="Kari 1">Kari 1</option>
        <option value="Kari 2">Kari 2</option>
        <!-- További opciók -->
      </select>
    </div>
    <div class="form-group">
      <label for="year">Évfolyam</label>
      <input type="number" class="form-control" id="year" name="year" value="<%= user.year %>">
    </div>
    <div class="form-group">
      <label for="building">Épület</label>
      <select class="form-control" id="building" name="building">
        <option value="A">A</option>
        <option value="B">B</option>
      </select>
    </div>
    <div class="form-group">
      <label for="room">Szoba szám</label>
      <input type="text" class="form-control" id="room" name="room" value="<%= user.room %>">
    </div>
    <div class="form-group">
      <label for="mac">MAC cím</label>
      <input type="text" class="form-control" id="mac" name="mac" value="<%= user.mac %>">
    </div>
    <div class="form-group">
      <label for="hostname">Hoszt neve</label>
      <input type="text" class="form-control" id="hostname" name="hostname" value="<%= user.hostname %>">
    </div>
    <div class="form-group">
      <label for="currentPassword">Jelenlegi jelszó</label>
      <input type="password" class="form-control" id="currentPassword" name="currentPassword">
    </div>
    <div class="form-group">
      <label for="newPassword">Új jelszó</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Új jelszó megadása</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Mentés</button>
  </form>
</div>
